$max-element-width: 1160px;
$max-element-width_notebook: 1000px;
$max-element-width_tablet: 768px;
$max-element-width_phone: 100%;

$black: rgb(0, 0, 0);
$blackOpacit50: rgb(0, 0, 0, .5);
$blackOpacit20: rgb(0, 0, 0, .2);
$blackOpacit10: rgb(0, 0, 0, .1);
$blackOpacit05: rgb(0, 0, 0, .05);

$Success: rgb(17, 238, 0);
$Error: rgb(234, 61, 47);
$Info: rgb(255, 255, 255);

$blue: rgb(0, 91, 254);
$blueHover: rgb(0, 71, 198);
$red: rgb(234, 61, 47);

@mixin btn-styles-active{
    &:focus, &:hover
    {
        outline: none;
        border-color: $blue;
        box-shadow: 0 0 5px $blue;
        background-color: #e7f1ff;
        transition: 0.2s;
    }
}

@mixin btn-styles {
    max-height: 38px;
    padding: 10px 14px;
    border-radius: 6px;
    border:none;
    color:#FFFFFF;

    font-family: "CIRCE", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
    &:hover{
        transition: 0.3s;
    }
}