@use 'variables';

.dialogMenu {
    padding: 0;
    border: none;
    background: transparent;
    width: 312px;
    height: 100dvh;
    max-height: 100dvh;
    flex-direction: column;
    
    &__wrapper {
        background-color: white;
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 312px;
        height: 100dvh;
        max-height: 100dvh;
        top: 0;

        @media (max-width: 992px) {
            right: 0;
        }

    }

    &__header {
        display: flex;
        flex-direction: row;
        padding: 24px;
        justify-content: space-between;
        border-bottom: 1px solid variables.$blackOpacit10;
    }
}

.visible{
    display: block !important;
}

.group{
    &__list{
        padding: 24px;
    }
    &__item{
        display: flex;
        padding-top: 16px;
        justify-content: space-between;
        align-items: center;
        gap:12px;

        &_new{
            display: flex;
            flex-direction: column;

            &__error{
                padding-top: 4px;
                display: none;
                color: variables.$Error;
            }       

            &__text{
                padding: 10px 12px;
                background-color: variables.$blackOpacit05;
                border-radius: 6px;
                flex:1;
                max-height: 18px;

                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                letter-spacing: 0px;
                border: 0px;

                @include variables.btn-styles-active
            }
        }

        &_text{
            padding: 10px 12px;
            background-color: variables.$blackOpacit05;
            border-radius: 6px;
            flex:1;
            max-height: 18px;

            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: 0px;
        }

        &_error{
            input{
                border: 1px solid variables.$Error;
            }

            .group__item_new__error{
                display: block;
            }
        }
    }
    &__buttons{
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
        padding: 24px;
        gap:12px;
    }
}

.contacts{
    &__form{
        display: flex;
        flex-direction: column;
        gap:16px;

        padding: 24px;
        &-input{
            width: 100%;
            box-sizing: border-box;
            @include variables.btn-styles-active
        }
        &-dropdown{
            width: 100%;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
        }
        
    }

    &__item{
        display: flex;
        padding-top: 16px;
        justify-content: space-between;
        &_error{
            input{
                border: 1px solid variables.$Error;
            }
        }
    }
    &__buttons{
        margin-top: auto;
    }
}